<div class="drawer-side z-10">
  <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
  <ul class="menu p-0 bg-base-300 min-h-full w-80">
    <%= render 'layouts/current_company' %>
    <%= render 'layouts/menu' %>
  </ul>
</div>
