<aside class="absolute left-0 top-0 overflow-y-hidden ease-linear w-56 lg:static">
  <%= render 'layouts/current_company' %>
  <div class="hidden bg-base-300 flex-none lg:block h-full">
    <%= render 'layouts/menu' %>
  </div>
</aside>